<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Забронировать билет</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isRoutes}}
        <li class="active"><a href="/routeslist">Список маршрутов</a></li>
        {{else}}
        <li><a href="/routeslist">Список маршрутов</a></li>
        {{/if}}
        {{#if isAdmin}}
        {{#if isAdd}}
        <li class="active"><a href="/addroute">Добавить маршрут</a></li>
        {{else}}
        <li ><a href="/addroute">Добавить маршрут</a></li>
        {{/if}}
        {{#if isStat}}
        <li class="active"><a href="/stat">Смотреть статистику</a></li>
        {{else}}
        <li ><a href="/stat">Смотреть статистику</a></li>
        {{/if}}
        {{/if}}
        {{#if isAuth}}
         {{#if isBuy}}
        <li class="active"><a href="/tickets">Купить билет</a></li>
        {{else}}
        <li><a href="/tickets">Купить билет</a></li>
        {{/if}}
        {{#if isMyTickets}}
        <li class="active"><a href="/usersTickets">Мои билеты</a></li>
        {{else}}
        <li><a href="/usersTickets">Мои билеты</a></li>
        {{/if}}
        {{#if true}}
        <li><a href="/auth/logout">Выйти</a></li>
        {{/if}}
        {{else}}
        {{#if isSignUp}}
        <li class="active"><a href="/signup">Регистрация</a></li>
        {{else}}
        <li><a href="/signup">Регистрация</a></li>
        {{/if}}
        {{#if isSignIn}}
        <li class="active"><a href="/signin">Войти</a></li>
        {{else}}
        <li><a href="/signin">Войти</a></li>
        {{/if}}
        {{/if}}
      </ul>
    </div>
  </nav>